html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

div.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 1em 0 0 0;
    font-size: 16px;
  }
}

$color: black;
$size: 100px;
$borderWidth: 4px;
$redWidth: 27%;
$orangeHeight: 50%;
$whiteWidth: 23%;

div.logo {
  width: $size;
  height: $size;
  border: $borderWidth solid $color;
  box-sizing: border-box;
  position: relative;
  background-color: white;

  & > div {
    position: absolute;
  }

  div.white {
    border-left: $borderWidth solid $color;
    top: 0;
    bottom: 0;
    right: 0;
    width: $whiteWidth;
  }

  div.orange {
    border-top: $borderWidth solid $color;
    left: 0;
    bottom: 0;
    right: 0;
    height: $orangeHeight;
    background-color: #F3B93F;
  }

  div.red {
    border-right: $borderWidth solid $color;
    top: 0;
    bottom: 0;
    left: 0;
    width: $redWidth;
    background-color: #EA5664;
  }
}